.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    border: 1px solid white;
    border-radius: 50px;
    text-align: center;
    width: fit-content;

    @media(max-width: $breakpoint480) {
        font-size: 14px;
    }

    &--about {
        padding: 12px 16px;
        margin-block-start: auto;
        margin-left: auto;
    }

    &--career {
        padding: 12px 16px;
        margin-block-start: auto;
        width: 100%;
    }
}

.btn-hover {
    transition: all .5s;

    &--white {
        &:hover {
            background-color: white;
            color: $secondary-color;
        }
    }
}


.link-hover {
    display: inline-block;
    position: relative;
    transition: color .5s ease;

    &:hover {
        &::before {
            width: 100%;
            left: 0;
            right: 0;
        }
    }

    &:hover {
        color: #0094DD;
    }

    &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: -0.15rem;
        width: 0;
        height: 2px;
        background: #009eed;
        transition: width .5s ease-out;
    }
}
