.hero {
    background-image: url('../img/hero.png');
    background-size: cover;
    background-position: 50%;
    max-height: 100dvh;
    aspect-ratio: 1920/1000;

    @media(max-width: $breakpoint1024) {
        aspect-ratio: unset;
        min-height: 600px;
    }
    @media(max-width: $breakpoint768) {
        min-height: unset;
        background-position: 80%;
    }

    display: flex;
    flex-direction: column;

    &__wrapper {
        margin: auto;
    }
    &__description {
        margin: auto 0;
        max-width: 740px;

        @media(max-width: $breakpoint768) {
            padding: 160px 0 48px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 80px;
        color: #fff;

        @media(max-width: $breakpoint1280) {
            font-size: 72px;
        }
        @media(max-width: $breakpoint768) {
            font-size: 50px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 28px;
        }
    }
    &__text {
        margin-top: 24px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.5;
        color: #fff;
        @media(max-width: $breakpoint1280) {
            font-size: 20px;
            margin-top: 20px;
        }
        @media(max-width: $breakpoint768) {
            font-size: 18px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 14px;
            margin-top: 14px;
        }
    }
}

.line {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 78px;
    left: 0;

    @media (max-width: 1628px) {
        padding-left: 16px;
    }
    @media(max-width: $breakpoint1280) {
        bottom: 60px;
    }
    @media(max-width: $breakpoint768) {
        display: none;
    }

    &__item {
        height: 8px;
        background: #fff;
        border-radius: 35px;

        &:nth-of-type(1) {
            width: 100px;
        }
        &:nth-of-type(2), &:nth-of-type(3) {
            width: 40px;
        }
    }
}