$font-family: Gilroy;
$secondary-color: #333333;
$main-radius: 20px;
$big-radius: 20px;

// breakpoint
$breakpoint1440: 1440 + px;
$breakpoint1480: 1480 + px;
$breakpoint1280: 1280 + px;
$breakpoint1024: 1024 + px;
$breakpoint768: 768 + px;
$breakpoint600: 600 + px;
$breakpoint560: 560 + px;
$breakpoint480: 480 + px;